{# extend the parent tpl #}
{% extends 'layout.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'ImmoSite' %}

{% block pageContent %}

    <section class="breadcrumb">
        <p>
            &nbsp;
        </p>
    </section>


    <section class="content">

    </section>

{% endblock %}